{% extends "base.html" %}
{% comment %}{% load django_altair %}{% endcomment %}

{% load static %}
{% block script %}

<script src="{% static 'js/vega@3.2.js' %}"></script>
<script src="{% static 'js/vega-lite@2.4.1.js' %}"></script>
<script src="{% static 'js/vega-embed@3.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm//vega@3.2"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.0"></script>

{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container">
         <div class="row mb-4 ">
            <div class="col-2 menuBox" id ="1" >
                <p>Nome da <br> Ferramenta</p>
            </div>
             <div class="col-3 menuBox">
                 <div class = 'block'>Dataset:</div>
                 <form action="{% url "app:file" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <input type="file" name="csvfile" id="file" accept="text/csv" class="inputfile" onchange="this.form.submit()"/>
                    <label for="file">Escolher</label>
                 </form>
             </div>
             <div class="col-5 menuBox">
                    <div class = 'col-8 block'>
                     <div id = "line1">Variável Y:
                         <select class="selectColumn">
                             {% for q in quantitativeData %}
                                <option>{{ q }}</option>
                            {% endfor %}
                        </select>
                     </div>

                    <div id = "line2">Variável X:
                        <select class="selectColumn">
                            {% for c in categoricalData %}
                                <option>{{ c }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class = "chart">
                        <form id="streamform" action="{% url "app:chart" %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="file" value="{{ file }}" />
                            <button type="text" class="chartButton"> Gerar</button>

                        </form>
                    </div>
                </div>
             </div>
             <div class="col-2 menuBox">
                <div class = 'block export'>Exportar:
                    <div class="downloadButton"> <button><img src="{% static '/img/arrow.png' %}"></button></div>
                </div>
             </div>
         </div>
    </div>

    <div class="container2">
        {% for message in messages %}
            {% include "error.html" %}
        {% endfor %}
        {% comment %}<div>
            <p>This is a chart</p>
            {% render_chart chart %}
        </div>{% endcomment %}

      {% comment %}  <div class="chart">
            <p>Gráfico de Dispersão</p>
            {% render_chart chart2 %}
        </div>{% endcomment %}
    </div>
</div>
{% endblock %}