{% extends "base.html" %}
{% load enable_action %}

{% load static %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div id = "container">
    <div class="container-menu">
         <div class="row mb-4 ">
            <div class="col-2 menuBox" id ="1" >
                <p>Nome da <br> Ferramenta</p>
            </div>
             <div class="col-3 menuBox" id="centerColumn">
                 <div class = 'block'>Dataset:</div>
                 <form action="{% url "app:file" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <input type="file" name="csvfile" id="file" accept="text/csv" class="inputfile" onchange="this.form.submit()"/>
                     <label for="file">Escolher</label>
                     {% if filePath %}
                         <label class="fileNameLabel" type="text"> <p>{{ filePath }}</p> </label>
                     {% endif %}
                 </form>
             </div>
             <div class="col-7 menuBox">
                 <div class = 'block'>
                    <form id="fileform" action="{% url "app:chart" %}" method="POST" enctype="multipart/form-data">
                        <div id = "line1">Variável Y:
                            <input type="hidden" name="quantitativeData" value="{{ quantitativeData }}">
                            <select class="selectOptions" name="selectedY">
                                {% for q in quantitativeData %}
                                    <option  {% if q == selectedValueY %} selected {% endif %}>
                                        {{ q }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id = "line2">Variável X:
                            <input type="hidden" name="categoricalData" value="{{ categoricalData }}">
                            <select class="selectOptions" name="selectedX">
                                {% for c in categoricalData %}
                                     <option  {% if c == selectedValueX %} selected {% endif %}>
                                        {{ c }}
                                     </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class = "generateBtn">
                            {% csrf_token %}
                            {% button_disabled categoricalData quantitativeData as btn_disabled %}
                            <button type="text" name="fileBtn" value="{{ filePath }}" class="chartButton" {% if btn_disabled %} disabled {% endif %}>
                                Gerar Gráfico
                            </button>
                        </div>
                    </form>
                 </div>
             </div>
            {% comment %} <div class="col-2 menuBox">
                <div class = 'block export'>Exportar:
                    <div class="downloadButton"> <button><img src="{% static '/img/arrow.png' %}"></button></div>
                </div>
             </div>{% endcomment %}
         </div>
    </div>

    <div class="container-chart">
        {% for message in messages %}
            {% include "error.html" %}
        {% endfor %}

            {% for c in charts %}
                <div style="width:600;height:500">
                    {{ c.content|safe }}
                </div>
            {% endfor %}



<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
            <div class='carousel-item active'>
                <img src='http://placehold.it/400x200&text=slide1' alt='' />
            </div>
            <div class='carousel-item'>
                <img src='http://placehold.it/400x200&text=slide2' alt='' />
            </div>
            <div class='carousel-item'>
                <img src='http://placehold.it/400x200&text=slide3' alt='' />
            </div>


            <!-- Controls -->
            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left'></span>
            </a>
            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                <span class='glyphicon glyphicon-chevron-right'></span>
            </a>

        </div>




    <!-- Indicators -->
    <ol class='carousel-indicators'>
        <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='http://placehold.it/100x50&text=slide1' alt='' /></li>
        <li data-target='#carousel-custom' data-slide-to='1'><img src='http://placehold.it/100x50&text=slide2' alt='' /></li>
        <li data-target='#carousel-custom' data-slide-to='2'><img src='http://placehold.it/100x50&text=slide3' alt='' /></li>
    </ol>
</div>



    </div>
{% endblock %}
</div>
