html,
body{
   margin: 0;
   width: 100%;
   height: 100vh;
}

#page-wrapper,
#container{
    width: 100%;
    margin: 0;
    height: 100%;
}
body{
    /*background-color: #f4f4f4 !important;*/
    background-color: #e8e8e8 !important;
    color: #6b6b6b !important;
}

.col-8{
   min-width: 100% !important;
}
.container-chart,
.container-menu{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 94%;
}
.container-chart{
    text-align: center;
    width: 94%;
    height: 100%;
    background: #FFFFFF;
    padding-top: 1%;

}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label,
.chartButton{
    transition: box-shadow .3s;
    font-size: 1em;
    font-weight: 200;
    position: relative;
    padding: 4px 8px 4px 8px !important;
    /*padding: 4px;*/
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #3c47cc;
    color: #FFFFFF;
  /*  transition: background-color .3s;*/
}
.generateBtn{
    float: right;
    margin-top: -50px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#error{
    background: #FFFFFF;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.1);
    border: solid;
    color: #ff0000;
    margin: 0 auto;
    top: 20%;
    width: 30%;
    position: relative;
    height: 160px;
    line-height: 160px;
    text-align: center;
    font-weight: bold;
}
.menuBox{
   /* border: 1px solid lightslategray;*/
    background: #FFFFFF;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.menuBox p{
  display: block;
    margin-block-start: 1em !important;
}

.row mb-4{
    min-height: 127px;
}
#line1, #line2{
    margin: 0;
    width: 68%;
}
#line1{
    padding-bottom: 5px;
    border-bottom:1px solid rgba(0, 0, 0, 0.12);
 }
#line2{
    padding-top: 5px;
}

 .datasetOptions{
    background: #FFFFFF;
    border: 0.5px solid #e2e2e2;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    padding: 7px;
    line-height: 9PX;
    letter-spacing: 0.0357143em;
 }
.datasetOptions .option{
    background: #FFFFFF;
    border: 0.5px solid #e2e2e2;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
 }

.bootstrap-select .btn:focus{outline:none!important;}

.row {
    min-height: 133px;
}

.block{
    display: block;
    width: 70%;
    margin-block-start: 1.2em !important;
}
.selectOptions{
    width: 70%;
    transition: box-shadow .3s;
    font-size: 1em;
    font-weight: 200;
    position: relative;
    padding: 4px 8px 4px 8px !important;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
    background-color: #ffff;
    color: #6b6b6b;
    border: 1px solid #bdbaba;
    text-transform: uppercase;
}
.selectOptions:hover{
     box-shadow: 0 0 5px rgba(33,33,33,.2);
}
.generateBtn{
    background: #FFFFFF;
}
.downloadButton button img{
    width: 2em;
}
.export{
    text-align: center;
    display: none;
}

input, button, submit {
    border:none;
    background: none;
}
/*
@media (min-width: 1200px) {
    .container2 {
         max-width: 1140px;
    }
 }*/
